<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>积分商城详情</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
<div id="app" v-cloak>
    <div class="banner"><img :src="goods.pic"/></div>
    <div class="title">
        <p>
            <span class="stock">还剩{{goods.num}}件</span>
            <span class="pay">{{goods.integralnum}}<small>积分</small></span>
        </p>
        <div class="clearfix"></div>
        <h1>{{goods.title}}</h1>
    </div>
    <div class="box">
        <div class="box-title">
            <h2><span class=icon></span>兑换限制</h2>
        </div>
        <div class="box-container">{{goods.prompt}}</div>
    </div>
    <div class="box">
        <div class="box-title">
            <h2><span class=icon></span>供应商</h2>
        </div>
        <div class="box-container">{{goods.provider}}</div>
    </div>
    <div class="box">
        <div class="box-title">
            <h2><span class=icon></span>产品详情</h2>
        </div>
        <div class="box-container"> {{goods.content}}</div>
    </div>
    <div style="height:54px"></div>
    <div class="btn">
        <button type="button" @click="showPopup=!showPopup">兑换</button>
    </div>
    <div class="popup-box" v-if="showPopup">
        <div class="popup-title">
            <span class="pay">{{goods.integralnum}}</span>
            <span class="stock">还剩{{goods.num}}件</span>
            <span class=close><img  @click="showPopup=false" alt="" src="img/close.png"/></span>
        </div>
        <form>
            <div class="form-group">
                <label>数量</label>
                <div class="numbox">
                    <button class="numbox-btn btn-numbox-minus" @click="removeGoods()" type="button">-</button>
                    <input class="input-numbox" type="number" v-model="buyNum">
                    <button class="numbox-btn btn-numbox-plus" @click="addGoods()" type="button">+</button>
                </div>
                <span v-show="needNum!=0" class="needNumBox">
                    <span>合计:</span>
                    <span class="needNum">{{needNum}}</span>
                    <span>分</span>
                </span>
            </div>
            <div class="form-group">
                <label>我的积分</label>
                <span>{{voluser.publiccoin}}</span></div>
            <div class="form-group">
                <label>电话号码</label>
                <input type="tel" v-model.trim="buyerTel" maxlength="11" type="number">
            </div>
            <div class="form-group" v-show="goods.classify==1">
                <label>收货人</label>
                <input v-model.trim="buyerName" value="" placeholder="请输入收货人姓名">
            </div>
            <div class="form-group" v-show="goods.classify==1">
                <label>收货地址</label>
                <input v-model.trim="buyerAddress" value="" placeholder="请输入收货地址">
            </div>
            <div class="form-group">
                <label>备注</label>
                <input v-model.trim="buyerRemarks" placeholder="选填，可填写您的兑换需求">
            </div>
            <botton type="botton" @click="submit()" class="popup-btn">确认兑换</botton>
        </form>
    </div>
    <div class="popup-mask"  @click="showPopup=false" v-if="showPopup"></div>
</div>
</body>
<script src="js/unit.js"></script>
<script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
<script src="js/details.js"></script>
</html>
